.idea
/node_modules

/public/hot
/public/storage
/public/css/*
/public/js/*
/public/*.js
/public/fonts/*
/public/mix-manifest.json

/storage/*.key
/vendor
/reports

.env
.env.backup
.env.testing
phpunit.xml

.phpunit.result.cache
docker-compose.override.yml

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
.env.staging
.env.dev
.env.production
/cloudfront/*
.env.dusk.local
.DS_Store
tests/.DS_Store
tests/Browser/.DS_Store
*/.DS_Store
*/*/.DS_Store
infection*.*
